<div class="PageContent">
    <div class="accordion" id="accordionActivity">
        {{#each activities}}
            <div class="card mb-2" style="width: 80%;">
                <p class="card-header d-flex justify-content-between
                    align-content-end" style="background-color:
                    {{randomColor this.name}};">
                  {{!-- REMEMBER TO QUERRY AS INPUT --}}
                  <span>Users:{{this.userCount}}</span> 
                  <span>Total Posts:{{this.postCount}}</span>
                </p>
              <div class="card-body">
                  <h5 class="card-title">{{this.name}}</h5>
                <p class="card-text">{{this.description}}</p>
                <a href="/activities/{{this.name}}" class="btn btn-primary">view posts</a>
              </div>
            </div>
        {{/each}}
    </div>

</div>
