<div class="PageContent">

  <div class="activity-creator card">

    <form class="make-activity">
      <legend>Make activity section</legend>

      <div class="form-group">
        <label for="activity-title">Title:</label>
        <input class="form-control" type="text" id="activity-title" placeholder="TEST ACTIVITY">
      </div>

      <div class="input-group">
        <span class="input-group-text" id="description">Description:</span>
        <input class="form-control" type="text" id="activity-description" placeholder="TEST DESCRIPTION" >
      </div>

      <input type="submit">

    </form>
    
    
    {{!-- <span>Make activity section</span>
    <span class="activity-title">title:test activity</span>
    <span class="activity-description">description:test description</span>
    <button class="btn btn-primary button-make-activity">MAKE TEST ACTIVITY</button> --}}
 
  </div>

    {{!-- Maybe change clas names in cards later? --}}
    <div class="accordion" id="accordionActivity">
        {{#each activities}}
            <div class="card mb-2" style="width: 80%;">
                <p class="card-header d-flex justify-content-between align-content-end" style="background-color: {{this.color}};">
                  {{!-- REMEMBER TO QUERRY AS INPUT --}}
                  <span>Users:{{this.userCount}}</span> 
                  <span>Total Posts:{{this.postCount}}</span>
                </p>
              <div class="card-body">
                  <h5 class="card-title">{{this.name}}</h5>
                <p class="card-text">{{this.description}}</p>
                <a href="/activities/{{this.name}}" class="btn btn-primary">view posts</a>
              </div>
            </div>
        {{/each}}
    </div>

</div>

<script src="/scripts/activities-put-activity.js"></script>
