<h1>Productivity/Community Website</h1>

<hr>

<h3>Popular Activities</h3>

{{#each activities}}
    <div class="card mb-2" style="width: 80%;">
        <p class="card-header d-flex justify-content-between
            align-content-end" style="background-color:
            {{randomColor this.name}};">
          <span>Recent Posts: {{this.postCount}}</span>
        </p>
      <div class="card-body">
          <h5 class="card-title">{{this.name}}</h5>
        <p class="card-text">{{this.description}}</p>
        <a href="/activities/{{this.name}}" class="btn btn-primary">view posts</a>
      </div>
    </div>
{{/each}}

<h3>Top Users</h3>


{{#each users}}
  <div class="imageAndName d-inline-flex ">
    <div class="card mb-2" style="width: 80%;">
        <p class="card-header d-flex justify-content-between
            align-content-end" style="background-color:
            {{randomColor this.name}};">
        </p>
        <div class="align-self-start me-1" style="width:50%; height:50%;">
          <a href="/user/{{this.id}}">
            <canvas class="mw-100 mh-100 prof-image border rounded"></canvas>
          </a>
        </div>
        <a class="user-name align-self-center text-decoration-none text-body" href="/user/{{this.id}}">{{this.name}}</a>
    </div>
  </div>
{{/each}}

<script src="/scripts/util.js"></script>
<script src="/scripts/post-profile-pics.js"></script>
