{{!-- testing info --}}
post id:
{{post.id}}
<br>
comments:
{{#each comments}}
  {{this}}
  <br>
{{/each}}


<div class="PostContent mt-4">
  <div class="card card-lg">

    <div class="card-header"> 
      <h1 class="text-start">test title{{post.name}} <small class="fs-5 fw-light"> Posted by: admin test</small> </h1>
    </div>

    <div class="card-body"> <p class="text-center">test body {{post.body}}</p></div>
  
    {{!-- Comment are for logged in user --}}
    <div class="userComment card-footer">
      <label for="userComment"> Comment:</label>
      <textarea class="form-control" id="userComment"></textarea>
      <button type="submit" class="btn btn-primary">submit</button>
    </div>

  </div>
</div>


<div class="PostComments card mt-4">

  {{!-- Other User comments --}}

  {{#each comments}}
    {{this}}
    <div class="comment d-flex flex-column m-2">

      {{!-- noncollapsible part --}}
      <div class="imageAndName d-inline-flex ">
        {{!-- profile image and name --}}
        <div class="prof-image align-self-start p-2 bg-secondary">{{this.creator}}image</div>
        <small class="user-name p-2" >{{this.creator}}username</small>  

        {{!-- Collapse button --}}
        {{!--ms-auto pushes the rest items into the left  --}}
        {{!-- Pay attention at id --}}
        <button type="button" class="btn btn-primary ms-auto" data-bs-toggle="collapse" data-bs-target="#comment-{{this.id}}-body"  >Hide/show</button> 
      </div>
      {{!-- Collapsible part --}}
      {{!-- Watch out if a comment has character without empty space it will mess us the website width, otherwise it is fine--}}
      <div class="comment-collapsible collapse show" id="comment-{{this.id}}-body">
        <div class="bodyAndButtons d-flex flex-column ps-4">
          <div class="comment-body flex-grow-1 p-2 ">
            {{this.body}}
            {{!-- random comment ,thas asfh asdfjh sdgkhsd ksjdhhf kksdhf kisudhf iusdfuh sdeiufhy kiusdhfd iushy sweiuh sidfiuhiusd fiuhsiudf iuhiuhsdf kljh sdf iuhsd fsdifuhiusd fioushdgisdguh --}}
          </div>
          <div class="comment-buttons d-inline-flex align-items-stretch">
            <button type="button" class="" data-bs-toggle="collapse" data-bs-target="#reply-{{this.id}}">Reply</button> 
          </div>
        </div>
        {{!-- Reply Section --}}
        {{!-- maybe another way to do it? --}}
        <div class="reply container mt-2 collapse" id="reply-{{this.id}}">
          <label for="userReply"> Reply:</label>
          <textarea class="form-control" id="userReply"></textarea>
          <button type="submit" class="btn btn-primary">submit</button>
        </div>
      </div>
    
    </div>

    {{/each}}

</div>



