<link rel="stylesheet" href="/assets/css/basic_preview.css">

<a href="/user/{{user.id}}" id="profileLink" class="invisible">{{user.id}}</a>

<div class="PageContent">
    <div class="container-fluid">
        <div class="card card-lg">
            <div class="row">
                <!--                <img src="/assets/img/logo.png" class="rounded col-sm-3"> -->
                <canvas class="col-sm-4 profile-picture" id="profilePictureCanvas"></canvas>
                <div class="col-sm-8">
                    <h2 class="row" id="userName" >{{user.name}}</h2>
                    <div class="input-group">
                      <div class="input-group-prepend" id="button-edit-bio">
                        <span style="height: 100%;" class="input-group-text">Bio</span>
                      </div>
                      <span class="form-control" aria-label="Bio" id="text-bio">{{user.bio}}</span>
                      <textarea class="form-control invisible" aria-label="Bio" id="text-area-bio"></textarea>
                    </div>
                </div>
            </div>
            {{#if user.join_date}}
                <p class="small text-muted">Joined on {{user.join_date}}</p>
            {{/if}}
            {{!-- This shouldnt be allowed --}}
            {{#unless user.join_date}}
                <p class="small text-muted">NO JOIN DATE!</p>
            {{/unless}}
        </div>
    </div>

    <hr> 

    <div class="userActivitiesSection">
        <div class="container-fluid">
            <div class="userActivitiesHeader d-flex">
                <h1>Activities</h1> 
            </div>
            <div class="userActivities accordion" id="#userActivitiesAccordion">
                <div class="activityFact accordion-item">
                    <div class="accordion-header" id="headingOne"> 
                        <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#allAct">All Activities</button>
                    </div>
                    <div id="allAct" class="accordion-collapse collapse" data-bs-parent="#userActivitiesAccordion">
                {{#each user.activities}}
                        <div class="card-body">
                            <h5 class="card-title">{{this.name}}</h5>
                            <p class="card-text">{{this.description}}</p>
                            <a href="/activities/{{this.name}}" class="btn btn-primary">view posts</a>
                        </div>
                    {{else}}
                        <div class="card-body">
                            <h5 class="card-title">No activities joined!</h5>
                            <a href="/activities" class="btn btn-primary">Activities</a>
                        </div>
                {{/each}}
                    </div>
                </div>
        </div>
    </div>

    <hr>

    <div class="ActivitiesSection">
        <div class="container-fluid">
            <div class="ActivitiesHeader d-flex">
                <h1>Summary</h1> 
                <div class="mx-1 badge bg-secondary align-self-center" style="font-size: 1em;">60</div>
                <div class="p-2" style="margin-left: auto;">Total points:1234</div>
            </div>

            <div class="ActivitiesFacts accordion" id="myaccordion">

                <div class="ActivityFact accordion-item">
                    <div class="accordion-header" id="headingOne"> 
                        <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#LongestAct">Longest activity</button>
                    </div>
                    <div id="LongestAct" class="accordion-collapse collapse" data-bs-parent="#myaccordion">
                        <div class="card-body">
                            <h5 class="card-title">Activity name</h5>
                            <p class="card-text">ActivityDescription</p>
                            <a href="" class="btn btn-primary">view posts</a>
                        </div>
                    </div>
                </div>

                <div class="ActivityFact accordion-item">
                    <div class="accordion-header" id="headingTwo"> 
                        <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#LatestAct">Latest activity</button>
                    </div>
                    <div id="LatestAct" class="accordion-collapse collapse" data-bs-parent="#myaccordion">
                        <div class="card-body">
                            <h5 class="card-title">Activity name</h5>
                            <p class="card-text">ActivityDescription</p>
                            <a href="" class="btn btn-primary">view posts</a>
                        </div>
                    </div>
                </div>


                <div class="ActivityFact accordion-item">
                    <div class="accordion-header" id="headingThree"> 
                        <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#MostAct">Most active</button>
                    </div>
                    <div id="MostAct" class="accordion-collapse collapse" data-bs-parent="#myaccordion">
                        <div class="card-body">
                            <h5 class="card-title">Activity name</h5>
                            <p class="card-text">ActivityDescription</p>
                            <a href="" class="btn btn-primary">view posts</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
      <canvas id="commentChart"></canvas>
    </div>

    <hr> 

    <div class="FriendsSection">
        <div class="container-fluid">
            <div class="FriendsHeader d-flex">
                <h1>Friends</h1> 
                <div class="mx-1 badge bg-secondary align-self-center" style="font-size: 1em;">{{user.friends.length}}</div>
            </div>

            <div class="friendsList">
                <div class="list-group">
                    {{#each user.friends}}
                        <a href="/user/{{this.id}}" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 h-100">
                            <img src="/assets/img/logo.png" alt="" class="FriendPicture rounded">
                            <h5 class="m-2 align-self-center">{{this.name}}</h5>
                        </div>
                    </a>
                    {{else}}
                        No friends!
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/scripts/profile.js"></script>
{{#if self}}
<script src="/scripts/profile-edit.js"></script>
{{/if}}
