<link rel="stylesheet" href="/assets/css/basic_preview.css">

<a href="/user/{{user.id}}" id="profileLink" class="invisible">{{user.id}}</a>

<div class="PageContent">
    <div class="container-fluid" id="profileCard">
        <div class="card card-lg">
            <p class="card-header d-flex justify-content-between
                align-content-end" style="background-color:
                {{randomColor user.name}};">
            </p>
            <div class="row">
                <canvas class="col-4 mx-auto text-center profile-picture" style="height: 10%" id="profilePictureCanvas"></canvas>
                <div class="col-sm-8">
                    <h2 class="col-sm" id="userName" >{{user.name}}</h2>
                    <div class="input-group">
                      <span class="form-control m-2" id="text-bio">{{user.bio}}</span>
                      <textarea class="form-control invisible m-2" id="text-area-bio">{{user.bio}}</textarea>
                    </div>
                </div>
            </div>
            {{#if user.join_date}}
                <p class="small text-muted">Joined on {{user.join_date}}</p>
            {{/if}}
            {{#if self}}
                <div class="col-sm m-2">
                    <a class ="btn btn-danger" href="/login/logout">Logout</a>
                </div>
            {{/if}}
        </div>
    </div>

    <hr> 

    <div class="userActivitiesSection">
        <div class="container-fluid">
            <div class="userActivitiesHeader d-flex">
                <h1>Activities</h1> 
            </div>
            <div class="userActivities accordion" id="#userActivitiesAccordion">
                <div class="activityFact accordion-item m-2">
                    <div class="accordion-header" id="headingOne"> 
                        <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#allAct">All Activities</button>
                    </div>
                    <div id="allAct" class="accordion-collapse collapse" data-bs-parent="#userActivitiesAccordion">
                {{#each user.activities}}
                        <div class="card-body">
                            <h5 class="card-title">{{this.name}}</h5>
                            <p class="card-text">{{this.description}}</p>
                            <a href="/activities/{{this.name}}" class="btn btn-primary">view posts</a>
                        </div>
                    {{else}}
                        <div class="card-body">
                            <h5 class="card-title">No activities joined!</h5>
                            <a href="/activities" class="btn btn-primary">Activities</a>
                        </div>
                {{/each}}
                    </div>
                </div>
        </div>
    </div>

    <hr>

    <div class="ActivitiesSection">
        <div class="container-fluid">
            <div class="ActivitiesHeader d-flex">
                <h1>Summary</h1> 
            </div>

            <div class="ActivitiesFacts accordion" id="myaccordion">

                <div class="ActivityFact accordion-item m-2">
                    <div class="accordion-header" id="headingOne"> 
                        <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#LongestAct">Posts</button>
                    </div>
                    <div id="LongestAct" class="accordion-collapse collapse" data-bs-parent="#myaccordion">
                        {{#each user.posts}}
                            <div class="card-body">
                                <h5 class="card-title">{{this.name}}</h5>
                                <p class="card-text fw-light">Posted on: {{this.creation_time}}</p>
                                <a href="/posts/{{this.id}}" class="btn btn-primary">view post</a>
                            </div>
                        {{/each}}
                    </div>
                </div>

                <div class="ActivityFact accordion-item m-2">
                    <div class="accordion-header" id="headingTwo"> 
                        <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#LatestAct">Comments</button>
                    </div>

                    <div id="LatestAct" class="accordion-collapse collapse" data-bs-parent="#myaccordion">
                    {{#each user.comments}}
                        <div class="card-body">
                            <h5 class="card-title">{{this.postName}}</h5>
                            <p class="card-text fw-light">Commented on: {{this.creation_time}}</p>
                            <a href="/posts/{{this.postId}}" class="btn btn-primary">view post</a>
                        </div>
                    {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row-sm-8 invisible" id="barChartDiv">
      <canvas id="barChart" class=profileGraph></canvas>
    </div>
    
    <div class="row-sm-8 invisible" id="pieChartDiv">
      <canvas id="pieChart" class="profileGraph"></canvas>
    </div>

    <hr> 

    <div class="FriendsSection">
        <div class="container-fluid">
            <div class="FriendsHeader d-flex">
                <h1>Friends</h1> 
                <div class="mx-1 badge bg-secondary align-self-center" style="font-size: 1em;">{{user.friends.length}}</div>
            </div>

            <div class="friendsList">
                <div class="list-group">
                    {{#each user.friends}}
                      <div class="imageAndName d-inline-flex ">
                        <div class="card mb-2" style="width: 80% max-height:100px;">
                            <p class="card-header d-flex justify-content-between
                                align-content-end" style="background-color:
                                {{randomColor this.name}};">
                            </p>
                            <div class="align-self-start me-1" style="width:50%; height:50%;">
                              <a href="/user/{{this.id}}">
                                <canvas class="mw-100 mh-100 prof-image border rounded"></canvas>
                              </a>
                            </div>
                            <a class="user-name align-self-center text-decoration-none text-body" href="/user/{{this.id}}">{{this.name}}</a>
                        </div>
                      </div>
                    {{else}}
                        No friends!
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script src="/scripts/util.js"></script>
<script src="/scripts/profile.js"></script>
<script src="/scripts/post-profile-pics.js"></script>

{{#if self}}
    <script src="/scripts/profile-edit.js"></script>
{{/if}}
